@using MovieApp.Controllers;
@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<div id="content">
    <div class="box">

        @foreach (var movie in Model)
        {
            <div class="movie">
                <div class="movie-image">
                    <a asp-controller="Home" asp-action="MovieView" asp-route-id="@movie.MovieId">
                        <span class="play">
                            <span class="name">
                                @movie.Title (@movie.ReleaseYear)<br /><br />
                                @movie.Rating / 10
                            </span>
                        </span>
                        <img src="~/images/@movie.Image" />
                    </a>
                </div>
                <div class="rating">
                    <p></p>
                </div>
            </div>
        }
        <p style="font-size:40px; color:white; text-align:center;"><br /><br />@ViewData["movie"]</p>



    </div>
</div>

